<html>
<head>
    <meta charset="utf-8">
    <style>
        ul{
            list-style-type: none;
        }
    </style>
</head>
<body>
<div class="container">
<h1>Centre de beauté ** - Approbation du rendez-vous</h1>
<hr><br>

<h2>Votre rendez-vous a été approuvé.</h2>
    <h3>Rendez-vous: {{ rdv.id }}</h3>
<ul>
    <li>Nom et prénom: {{ rdv.client.nom }} {{ rdv.client.prenom }}</li>
    <li>Date/heure rendez-vous: ..</li>
</ul>
<p>Veuillez trouvez ci-joint votre bon de commande.</p>

<hr>
<p>Merci pour votre confiance.</p>
<p>Envoyé à {{ rdv.client.email }}</p>
</div>
</body>
</html>
