<html>
<head>
    <meta charset="utf-8">
    <style>
        ul{
            list-style-type: none;
        }
    </style>
</head>
<body>
<h1>Centre de beauté ** - Approbation du rendez-vous</h1>
<hr><br>

<h3>Votre rendez-vous a été approuvé.</h3>
<h6>Information générale:</h6>
<ul>
    <li><strong>Rendez-vous N° : {{ rdv.id }}</strong></li><br>
    <li><strong>Nom et prénom: {{ rdv.client.nom }} {{ rdv.client.prenom }}</strong></li>
</ul>
<p>Veuillez trouvez ci-joint votre bon de commande.</p>
<hr>
<p>Merci pour votre confiance.</p>
<p>Envoyé à {{ rdv.client.email }}</p>
</body>
</html>
